<h1>Add a Patron</h1>
<h2>Add new Patron</h2>
<hr />
<form action="/patrons" method="post">
  <label for="newpatron">Patron Name:</label>
  <input id="newpatron" name="newpatron" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/patrons">List of Patrons</a></h4>
<h4><a href="/">Return home</a></h4>
