<h1>Add a Book</h1>
<h2>Add new Book</h2>
<hr />
<form action="/books" method="post">
  <label for="newbook">Book Name:</label>
  <input id="newbook" name="newbook" type="text">
  <label for="newcopies">Book copies:</label>
  <input id="newcopies" name="newcopies" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/books">List of Books</a></h4>
<h4><a href="/">Return home</a></h4>
