<h1>Item added!</h1>

<p><a href="/patrons">Return to Patrons</a></p>
<p><a href="/authors">Return to Authors</a></p>
<p><a href="/books">Return to Books</a></p>
<p><a href="/">Return to Main Page</a></p>
