<h1>Add a Author</h1>
<h2>Add new Author</h2>
<hr />
<form action="/authors" method="post">
  <label for="newauthor">Author Name:</label>
  <input id="newauthor" name="newauthor" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/authors">List of Authors</a></h4>
<h4><a href="/">Return home</a></h4>
